    <!-- Contact Start -->
    <div class="container-fluid bg-primary newsletter p-0">
        <div class="container p-0">
            <div class="row g-0 align-items-center">
                <div class="col-md-5 ps-lg-0 text-start wow fadeIn" data-wow-delay="0.2s">
                    <img class="img-fluid w-100" src="assets/img/18.jpg" alt="">
                </div>
                <div class="col-md-7 py-5 newsletter-text wow fadeIn" data-wow-delay="0.5s">
                    <div class="p-5">
                        <h1 class="mb-5">Apoya Nuestra <span
                                class="text-uppercase text-primary bg-white px-2">Obra</span></h1>
                        <div class="position-relative w-100 mb-2">
                            <input class="form-control border-0 w-100 ps-4 pe-5" type="text"
                                placeholder="Escribe tu nombre o el valor que deseas donar" style="height: 60px;" #inputText>
                            <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-2 me-2" (click)="openpage()"><i
                                    class="fa fa-paper-plane text-primary fs-4"></i></button>
                        </div>
                        <p class="mb-0">Cada donación suma y llega a quien más lo necesita.</p>
                    </div>
                    <div class="p-5">
                        <img src="assets/img/qr-deuna.png" class="img-fluid w-30" alt="">
                        <p class="mb-0 mt-2">También puedes donar directo a través de la App deuna</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
