<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
                        <img class="img-fluid" src="assets/img/2.jpg" alt="">
                    </div>
                    <div class="col-6 wow fadeIn" data-wow-delay="0.3s">
                        <img class="img-fluid mod-img" src="assets/img/12.jpg" alt="">
                        <div class="h-25 d-flex align-items-center text-center bg-primary px-4 marg-top">
                            <h4 class="text-white text-wrap mb-0">Un plato caliente para quienes más lo necesitan</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-5"><span class="text-uppercase text-primary bg-light px-2">Alineados </span> al espíritu
                    solidario de Cáritas</h1>
                <p class="mb-4">Somos un grupo comunitario que nació del deseo de servir a quienes más lo necesitan en
                    Quiroga. Aunque trabajamos de manera independiente, compartimos los mismos valores de solidaridad,
                    dignidad humana y apoyo fraterno que promueve Cáritas. <br> <br> Cada jueves preparamos alimentos para
                    personas de la tercera edad y familias vulnerables, creando un espacio de acompañamiento y
                    esperanza.</p>
                <p class="mb-5">A lo largo del año también reunimos donativos para familias de escasos recursos,
                    especialmente en Navidad. Nuestra misión es sencilla: estar presentes donde más se nos necesita.</p>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Almuerzos solidarios cada jueves
                        </h6>
                        <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Donaciones Navideñas</h6>
                    </div>
                    <div class="col-sm-6">
                        <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Apoyo en Situaciones de Emergencia
                        </h6>
                        <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Actividades para Recaudar Fondos
                        </h6>
                    </div>
                </div>
                <div class="d-flex align-items-center mt-5">
                    <a class="btn btn-primary px-4 me-2" href="#works">Leer más</a>
                    <a class="btn btn-outline-primary btn-square border-2 me-2" target="_blank"
                        href="https://www.facebook.com/caritasparroquial.quiroga.9"><i
                            class="fab fa-facebook-f"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->