<!-- Feature Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center wow fadeIn" data-wow-delay="0.1s">
            <h1 class="mb-5">NUESTRA <span class="text-uppercase text-primary bg-light px-2">OBRA</span>
            </h1>
        </div>
        <div class="row row-per g-5 align-items-center text-center">
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                <i class="fa fa-calendar-alt fa-5x text-primary mb-4"></i>
                <h4>Almuerzos solidarios cada jueves</h4>
                <p class="mb-0">Cada jueves preparamos alimentos calientes para adultos mayores y familias vulnerables,
                    ofreciendo apoyo, compañía y un momento de esperanza.</p>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                <i class="fa fa-gift fa-5x text-primary mb-4"></i>
                <h4>Donaciones Navideñas</h4>
                <p class="mb-0">Reunimos víveres, ropa y regalos para llevar una Navidad digna a comunidades indígenas y
                    familias de escasos recursos que más lo necesitan.</p>
            </div>
        </div>
        <div class="row row-per g-5 align-items-center text-center">
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                <i class="fa fa-hands-helping fa-5x text-primary mb-4"></i>
                <h4>Apoyo en Situaciones de Emergencia</h4>
                <p class="mb-0">Brindamos ayuda inmediata a personas y familias en situaciones difíciles, compartiendo
                    víveres, acompañamiento y apoyo humanitario.</p>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                <i class="fa fa-hand-holding-usd fa-5x text-primary mb-4"></i>
                <h4>Actividades para Recaudar Fondos</h4>
                <p class="mb-0">Realizamos actividades comunitarias como ventas de comida, colada morada y eventos
                    solidarios para sostener nuestras obras durante el año.</p>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->