<!-- Footer Start -->
<div class="container-fluid footer pt-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                <a href="index.html" class="d-inline-block mb-3">
                    <img class="img-fluid" src="assets/img/Logo-Caritas-2.png" alt="">
                </a>
                <p class="mb-0">Promovemos acciones solidarias que brindan apoyo a quienes más lo necesitan: adultos
                    mayores, personas en situación vulnerable y comunidades rurales. Creemos en la unión, la empatía y
                    el servicio desinteresado.</p>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                <h5 class="mb-4">Contactos</h5>
                <p><a href="https://maps.app.goo.gl/bxk74tcBfELkXwsLA" target="_blank" class="footer btn btn-link"><i
                            class="fa fa-map-marker-alt me-3"></i>García Moreno y Telésforo Peñaherrera</a></p>
                <p><i class="fa fa-phone-alt me-3"></i>06 - 253 - 7123</p>
                <p><i class="fa fa-envelope me-3"></i> {{email}} </p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-primary btn-square border-2 me-2 color-black" target="_blank"
                        href="https://www.facebook.com/caritasparroquial.quiroga.9"><i
                            class="fab fa-facebook-f"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow text-black fadeIn" data-wow-delay="0.5s">
                <h5 class="mb-4">Links</h5>
                <a class="btn btn-link" href="#about">Nosotros</a>
                <a class="btn btn-link" href="#works">Obras</a>
                <a class="btn btn-link" href="#contact">Contáctanos</a>
            </div>  
        </div>
    </div>
    <div class="container wow fadeIn" data-wow-delay="0.1s">
        <div class="copyright">
            <div class="row">
                <div class="col-md-12 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#home">Caritas</a>, All Right Reserved.
                    <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
                    <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
                    <!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
                    Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>. Distributed by
                    <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->